



.region-shop{
    margin: 20px 0;
    background-color: #e5e5e5;
    width: 80%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    float: right;
    padding: 5px;
}

.region-shop span {
    font-weight: 600;
}

#edit-shop {
    direction: rtl;
    margin: 20px auto;
    background-color: #e5e5e5;
    width: 70%;
    padding: 20px 40px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    font-size: 18px;
}

div .region-shop-details {
    float: right;
}


div .Chart {
    float: left;

}

svg {
    width: 300px;
    height: 250px;
}


#notificationBoard {
    direction: rtl;
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(173, 7, 0, 0.22);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    font-size: 16px;
}

#notificationBoard li a {
    text-decoration: none;
}

