@import "https://fonts.googleapis.com/earlyaccess/opensanshebrew.css";
@import url('https://fonts.googleapis.com/css?family=Secular+One');


/*
############
 Header
############
*/

:root {
    --Body_Background-image: linear-gradient(135deg, #f4fafd 0%, #f3fbfe 100%);
    /* Oper BugOrderSystem colors */
    /*
    --Footer_Background_Color: #efefef;
    --Footer_Text_Color: black;
    */

    /* Test BugOrderSystem colors     */
    --Footer_Background_Color: red;
    --Footer_Text_Color: whitesmoke;
}

html {
    height: 100%;
}


.ui-autocomplete-loading {
    background: white url("../images/Loading_icon.gif") LEFT center no-repeat;
    background-size: 100px 50px;
}


body, ul li {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans Hebrew",Helvetica,Arial,sans-serif !important;
    font-style: normal !important;

}

p, li, h1, h2, h3, h4 {
    color: #4e4e4e;

}


body{
    background-image: var(--Body_Background-image);
}

.wrapper{
    width: 96%;
    max-width: 1800px;
    margin: 0 auto;
    /*padding:  0 2%;*/
}

header{
    background-color: #e5e5e5;
    padding: 25px 0;
    box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.5);

}

header h1{
    margin: 0;
    text-indent: -10000px;
    background: url(../images/logo.png) no-repeat;
    width: 300px;
    float: left;
}

.shop-details {
    position: absolute;
    width: 160px;
    margin: 0px 200px;
    font-size: 18px;
    color: #4e4e4e;
    font-weight: 500;
    letter-spacing: 1px;

}

.shop-details img {
    height: 25px;
    float: left;
}

.shop-details a {
    text-decoration: none;
    color: #404040;
    margin: 0 20px;
    letter-spacing: 1px;
}

.shop-details a:hover {
    text-decoration: none;
    color: #a9abad;
}

header nav{
    float: right;
    text-shadow: 0 1px 0 #6a6a6a;
    height: 20px;
}

header:after{
    display: block;
    content: "";
    clear: both;

}

header nav h2{
    line-height: 0;
    margin: 10px;
    text-indent: -10000px;
}

header nav li{
    list-style-type: none;
    float: left;
    margin-left:  10px;
    font-size: 20px;
    margin-top: -25px;
    border-right: 1px solid #000000;
    padding-right: 15px;
    font-family: 'Secular One', sans-serif;

}

li:nth-last-child(1) {
    border-right: none
}

li:nth-last-child(5) {
    border-right: none
}

header nav li a{
    text-decoration: none !important;
    color: #4e4e4e;
    font-weight: 500;
    letter-spacing: 2px;

}

header nav li a:hover {
    color: #a9abad;
}

header nav li a.current{
    color: #1abb9c;
}

logo{
    margin:  -5px;
    padding-left: 50px;
    position: absolute;
    z-index:2;
}

#burger-nav {
    display: none;
    float: right;
}

#manager-enter {
    text-align: right;
    float: right !important;
    position: relative;
    width: 200px;
    margin: 20px 0;
    font-size: 20px;
    color: #4e4e4e;
    font-weight: bold;
}

#manager-enter input[type=password] {
    float: right;
    width: 90%;
    padding: 5px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
}

#manager-enter button[type=submit] {
    float: right;
    background-color: #4CAF50;
    color: white;
    padding: 4px;
    margin: 3px 7%;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    font-size: 14px;
}


#manager-enter button[type=submit]:hover {
    opacity: 0.8;
}


#manager-exit {
    position: absolute;
    width: 160px;
    margin: 0px 400px;
    font-size: 20px;
    color: #4e4e4e;
    font-weight: bold;
}

#manager-exit a {
    text-decoration: none;
    color: #4e4e4e;
    margin: 0 20px;
}

#manager-exit a:hover {
    text-decoration: none;
    color: #a9abad;
}

/*
############
 DIALOG
############
*/
#BOS_Dialog iframe {
    border:0;
    display:none;
}

.modal.fade{
    -webkit-transition:opacity .3s linear, top .3s ease-out;
    -moz-transition:opacity .3s linear, top .3s ease-out;
    -ms-transition:opacity .3s linear, top .3s ease-out;
    -o-transition:opacity .3s linear, top .3s ease-out;
    transition:opacity .3s linear, top .3s ease-out;
    /*top:-25%;*/
}

.dialogWithDropShadow {
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.dialogBackground {
    background-image: var(--Body_Background-image);
}

.dialogHeaderBackground {
    /*background-image: var(--Body_Background-image);*/
}

.dialogFooterBackground {
    /*background-image: var(--Body_Background-image);*/
}

.modal-backdrop {
    background-color: white;
    opacity: 0.8 !important;
    filter: Alpha(opacity=50); /* IE8 and earlier */
}

.ui-dialog-buttonset {
    float: none !important;
    text-align: center !important;
    margin: auto !important;
}

/*
############
 FAQ
############
*/

.about-us {
    margin: 0;
    padding: 0;
}

.about-us {
    font-family: 'roboto', sans-serif;
    color: #666;
    font-size: 16px;
    background: #f9f9f9;
    line-height: 1.6em;
}

.about-us ul, .about-us li {
    list-style: none;
}

#container {
    width: 60%;
    margin: 50px auto;
    overflow: auto;
    background-color: #efefef;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 15px;
}

#container ul {
    list-style: none;
}

.about-us h1 {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    height: 40px;
    background: #6bb170;
    color: white;
    text-align: center;
    padding-top: 0px;
}

.a li {
    color: #fff;
    list-style: none;
}

.faq li {
    padding: 20px;
}

.faq li.q {
    /* background: #4FC2EE; */
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px #ddd solid;
    cursor: pointer;
}

.faq li.a {
    background: #3BB0D6;
    display: none;
    color:#fff;
    width: 90%;
    border-radius: 5px;
}

.rotate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}




/*
############
 PreOrder Title
############
*/
.pre-order-title {
    margin-top:150px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}




/*
############
 Login
############
*/

#store-logo img {
    margin: 30px auto;
    display: block;
    width: 18%;
}

#login{
    width: 20%;
    margin: 50px auto;
    padding: 0px;
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #e7e7e7;
    border-radius: 10px;
    text-align: right;
    color: #444444;
}

.login-form input[type=text], .login-form input[type=password] {
    width: 90%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    border-radius: 5px;
}



.login-form-bottom input[type = submit] {
    background-color: transparent;
    background-image: url("../images/icons/login.png");
    background-repeat: no-repeat;
    padding: 4px 0;
    margin: -5px 0;
    cursor: pointer;
    width: 79px;
    height: auto;
    border: none;
    float: left;
}

.login-form input[type = submit]:hover {
    opacity: 0.8;
}

.login-form-top{
    background-color: #fefefe;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #dde0e8;
    font-size: 18px;
}

.login-form-top input{
    font-size: 16px;
}

.login-form-bottom {
    background-color:#f1f6f8;
    padding:20px 10px;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid white;

}

.login-form-remember {
    direction:rtl;
    margin-right: 8px;
}

.login-form-bottom input[type=checkbox] {
    padding: 20px;
    float: right;
    margin-top: 5px;

}




/*
############
New Order
############
*/

#new-order{
    width: 80%;
    margin: 40px auto;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px;
    background-color: #fdfdfd;
    direction: rtl;

}

#new-order .panel-default {
    border-radius: 0 0 10px 10px;

}

#new-order input[type="text"],
#new-order select {
    background-color: #f9f9f9;
}

#new-order input[type="text"]:focus {
    background-color: #f3f3f3;
}

#new-order h3 {
    width: 100%;
    background: #167f92;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
    font-weight: bold;
}


/*
.new-order input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    direction:RTL;
    font-size: 15px;

}


.new-order select {
    width: auto;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    direction:RTL;
    font-size: 15px;
}


.new-order button {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    margin: 20px 25%;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    font-size: 16px;
}

.new-order  button:hover {
    opacity: 0.8;
}
*/

#clientwantsemails{
    max-height: 0;
    overflow: hidden;

    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;

}

#clientwantsemails.open{
    max-height: 120px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}


/*
############
 View Order
############
*/

#view-order{
    width: 50%;
    margin: 40px auto;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 0px;
    background-color: #e7e7e7;
    color: black;
    display: block;
}


#view-order span {
    font-size: 20px;
    color: black;
    font-weight: bold;
    position: relative;
}

#view-order input[type=checkbox] {
    padding: 5px;
    margin: 12px 0;
    width: 15px;
    height: 15px;
}

.order-title {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}

/*
order editing button
 */

.edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    margin:0 40% ;
    cursor: pointer;
    width: 20%;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.edit-button:hover {
    opacity: 0.8;
}

#changeStatus select {
    direction: rtl;
    font-size: 18px;
    font-weight: 500;


}


#no-orders-available {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

.product-edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    margin:-10px 15px ;
    cursor: pointer;
    width: 15%;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    float: right;
}

.product-edit-button:hover {
    opacity: 0.8;
}

.add-product-button {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    margin:0 35% ;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;

}

.add-product-button:hover {
    opacity: 0.8;

}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    background-color: var(--Footer_Background_Color);
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.5);
    font-family: "Open Sans Hebrew",Helvetica,Arial,sans-serif !important;
    color: var(--Footer_Text_Color);
}



.new-remind-form {
    width: 35%;
    margin: 40px auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px;
    background-color: #e7e7e7;
}

.new-remind-form input[type=text] {
    width: 70%;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    direction:RTL;
    font-size: 15px;
    margin: 0 auto;

}


.new-remind-form button {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin: 10px 35%;

}

.new-remind-form button:hover {
    opacity: 0.8;

}

.new-remind-form select {
    width: 70%;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    direction:RTL;
    font-size: 15px;
    margin: 0 auto;
}

.delete-reminder {
    cursor: pointer;
}



#searchBox input[type=text] {
    position: relative;
    padding: 4px 2px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    direction: RTL;
    font-size: 14px;
    border-radius: 8px;
    width: 65px;

    background-image: url(../images/icons/search.png);
    background-position: 4px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;

    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    transition: width 0.5s;

}

#searchBox input[type=text]:focus {
    width: 200px;

    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    transition: width 0.5s;
}

#order-client-info {
    background-color: rgba(204, 223, 200, 0.71);
    padding: 0 5px 15px 5px;
    border-bottom: 1px solid #686868;
    border-top: 1px solid rgba(0,0,0,0.3);
    margin-top: 0;
}

#order-client-info ul{
    margin: 0 auto;
    width:98%;
    margin-bottom:20px;
    overflow:hidden;
}

#order-client-info li {
    line-height: 1.5em;
    float: right;
    display: inline;
    width: 50%;
}

#order-order-info {
    background-color: rgba(204, 212, 223, 0.71);
    padding: 0 5px 15px 5px;
    border-bottom: 1px solid #686868;
}

#order-order-info ul {
    margin: 0 auto;
    width:98%;
    margin-bottom:20px;
    overflow:hidden;
}

#order-order-info li {
    line-height: 1.5em;
    float: right;
    display: inline;
    width: 50%;
}

#order-products-info {
    background-color: rgba(227, 225, 218, 0.61);
    padding: 0 5px 15px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
}

#order-products-info li{
    position: relative;
    display: block;
    list-style-type: none;
    margin-left:  30px;
    font-size: 20px;
    margin-top: -15px;
}


.order-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    cursor: pointer;
    width: 15%;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    float: right;
}

.order-button:hover {
    opacity: 0.8;
}

.w3-animate-fading span {
    animation:fading 1s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}

}


/*
############
Remider Table
############
*/


#reminder-table table {
    background: #f7f7f7f7;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 20px;
    line-height: 24px;
    margin: 30px auto;
    text-align: center;
    width: 50%;

}

#reminder-table tr {
    background-color: #f0f0f0;


}

#reminder-table strong {
    font-weight: bold;

}

#reminder-table th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 2px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

#reminder-table th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

#reminder-table th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

#reminder-table th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

#reminder-table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 1px 15px;
    position: relative;
    transition: all 300ms;
    font-size: 18px;


}

#reminder-table ul {
    margin: 2px 0;
    padding: 0;
    display: block;
}




#reminder-table li {
    color: black;
    list-style-type: none;
    display: block;
    margin: 0px -12px;
    padding: 0px;
}

#reminder-table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

#reminder-table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}



#reminder-table tr:nth-child(odd) td {
    background: #e3e3e3;
}


#reminder-table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;

}

#reminder-table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

#reminder-table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}



#reminder-table tbody:hover tr:hover td {
    color: #444;
    background-color: #cccccc;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}




.order-client-info {
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #ffffff;
    direction: rtl;
    text-align: right;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 5px;
    line-height: 35px;

}

.order-client-info span {
    font-weight: bold;
}

.order-info {
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #ffffff;
    direction: rtl;
    text-align: right;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 5px;
    line-height: 35px;
}

.order-info span {
    font-weight: bold;
}


.order-products-info {
    height: 100%;
    width: 100%;
    padding: 5px;
    direction: rtl;
    text-align: right;
    margin: 20px 0;
}

.order-products-info h4 {
    width: 100%;
    background: #dddddd;
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px 5px 0 0;
}

.order-products-info .btn {
    float: left;
    padding: 2px 5px;
    margin-top: -3px;
    margin-right: 5px;
}

.order-products-info table {
    text-align: center;
    margin-top: -11px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    background: #fff;

}

.order-products-info th {
    text-align: center;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fafafa;
}




@media screen and  (max-width: 1110px) {

    #store-logo img {
        width: 40%;
    }

    .wrapper {
        width: 99%;
    }

    header nav li a {
        font-weight: 500;
        margin: 0 0;
        padding: 0 0;
    }

    #order-table td:nth-child(4),  #order-table th:nth-child(4) {
        display: none;
    }

    #old-order-table td:nth-child(4),  #old-order-table th:nth-child(4) {
        display: none;
    }


    #login{
        width: 50%;

    }

    #view-order {
        width: 90%;
    }

    #order-client-info ul {
        width: 100%;
    }

    #order-order-info ul {
        width: 100%;
    }

    #order-products-info ul {
        width: 100%;
    }


}


@media (max-width:960px) {

    .logo

    header nav ul li{
        float:none;
        width:100%;
        margin: 0;
        text-align:center;
        padding: 5px;

    }

    header nav ul li a{
        display:block;
        text-align: center;
        color: #999;
        border-top: 1px solid #4f4f4f;

    }

    header nav ul{
        background-color:#555;
        padding: 0;
        margin: 50px 0 0 0;

    }

    header nav {
        width:100%;
        padding: 0;
        margin: 0;
    }

    header .wrapper {
        width: 100%;
        padding: 0;
    }
/*
    header {
        padding-bottom: 0
    }
*/
    header nav ul {
        max-height: 0;
        overflow: hidden;

        position:absolute;
        z-index:1;
        width:100%;
        margin-top:26px;

        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;

    }

    header nav ul.open {
        max-height: 500px;

        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;

    }

    #burger-nav {
        display: block;
        margin-right: 20px;
        cursor: pointer;
    }

    .shop-details {
        margin: 150px !important;
    }

    #new-order {
        width: 100%;
    }
}


@media (max-width:800px) {

    #container {
        width: 90%;
        border: none;
        background-color: #f7f7f7;
    }
}

@media screen and  (max-width: 360px) {


    #order-table td:nth-child(4), #old-order-table th:nth-child(4),#old-order-table td:nth-child(3), #old-order-table th:nth-child(3) {
        display: none;
    }

    #old-order-table td:nth-child(4), #old-order-table th:nth-child(4),#old-order-table td:nth-child(3), #old-order-table th:nth-child(3) {
        display: none;
    }


    #login{
        width: 65%;

    }

    header{
        width: 100%;
    }

    #view-order {
        width: 100%;
    }


    #order-client-info li {
        float: none;
        display: block;
        width: 100%;
    }

    #order-order-info li {
        float: none;
        display: block;
        width: 100%;
    }

    #order-products-info li {
        float: none;
        display: block;
        width: 100%;
    }


}


#navbar-collapse-2 {
    font-size: 18px;
}

#navbar-collapse-2 .btn:hover,
#navbar-collapse-2 .btn:focus {
    background-position: 0 -30px;
}

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(111, 84, 153);
}

.navbar-nav.navbar-right .btn:not(.collapsed):focus {
    color:rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}